# AIRTHMETIC OPERATIONS

# "+"

In [5]:
2+3#RETURN INTEGER

5

In [4]:
2.0+3 #RETURN FLOAT

5.0

In [6]:
"A"+"B"#CONCATENATION

'AB'

In [8]:
['A',"B"] +['C' ,"D"]

['A', 'B', 'C', 'D']

In [11]:
( 'A',"B") +('C' ,"D") BETWEEN TUPLET

('A', 'B', 'C', 'D')

In [12]:
{'A',"B"}+{'C' ,"D"} #BETWEEN SETS ERROR #CANNT APPLY PLUS BETWEEN SETS

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
#PLUS CAN BE BETWEEN INTEGER FLOAT TUPLET

# SUBTRACTION

In [14]:
5-2

3

In [15]:
{"A","B","C"}-{"A","C"}

{'B'}

In [16]:
["A","B","C"]-["A","C"]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [17]:
{"1:A","2:B","3:C"}-{"1:A","3:C"}

{'2:B'}

# MULTIPLICATION

In [18]:
2*3

6

In [19]:
2.0*3.0

6.0

In [20]:
"AB"*2

'ABAB'

In [21]:
['A',"B"]*2

['A', 'B', 'A', 'B']

In [22]:
('A',"B")*2

('A', 'B', 'A', 'B')

In [23]:
{0:1,1:2}*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

# DIVISION

In [24]:
10/5

2.0

In [25]:
11/5

2.2

In [26]:
11//5 #ONLY GET ANSWER IN INTEGER

2

In [27]:
11//5.2

2.0

In [28]:
15//0

ZeroDivisionError: integer division or modulo by zero

# MODULUS

In [29]:
21%5

1

In [30]:
11%3

2

# POWER

In [31]:
2**3

8

# COMPARISON(RELATIONAL) OPERATORS

In [33]:
- ==
->
-<
-<=
->=
!=,<>

SyntaxError: invalid syntax (<ipython-input-33-6f593e25bf39>, line 1)

In [34]:
2==2

True

In [35]:
2.0==2

True

In [37]:
'2'==2 #DATATYPE DIFFERENT

False

In [38]:
'SAWAEB' =='Sawaeb'

False

In [39]:
3==2

False

In [44]:
a=['A','B']
b=['A','B']
print(id(a),id(b),sep='\n')
a==b

1818701279432
1818698897160

True

In [45]:
{1,2,3}=={1,2,3}

True

In [46]:
5>3

True

In [47]:
5>5

False

In [49]:
5>'4' #datatype different

TypeError: '>' not supported between instances of 'int' and 'str'

In [50]:
"A" > "B" #based upon ascii code
#ord('A') >ord('B')
65>66

False

In [51]:
A=65 --> Z=90
a=97

SyntaxError: invalid syntax (<ipython-input-51-aefa1da05732>, line 1)

In [52]:
chr(65)

'A'

In [55]:
ord("z")

122

In [56]:
5>=5

True

In [57]:
5>4

True

In [58]:
3<2

False

In [59]:
5<1

False

In [60]:
5<=5

True

In [61]:
'sawaeb'!='Sawaeb'

True

In [62]:
'sawaeb'=='Sawaeb'

False

In [63]:
5<>4

SyntaxError: invalid syntax (<ipython-input-63-0f6edd6bed3a>, line 1)

In [64]:
5!=3

True

# ASSIGNMENT OPERATORS

* =
* +=
* -+
* /=
* **=

In [67]:
a=1
a=2
a=3
print(a) #overwrite language

3

In [68]:
a=1
print(a)
a=2
print(a)
a=3
print(a)

1
2
3

In [70]:
a=1
a+=2
a+=5
a=+2
print(a)

2

In [71]:
a=1
a=a+2
a=a+5
a=a+2
print(a)

10

In [72]:
a=100
a-=20
a-=5
print(a)

75

In [73]:
a=1
a*=2
a*=3
print(a)

6

In [75]:
a=1
a**=2
a**=3
a**=2
print(a)

1

In [76]:
a="A"
a+="B"
print(a)

AB

In [80]:
a="A"
a =*5
print(a)

SyntaxError: can't use starred expression here (<ipython-input-80-c8b297424027>, line 5)

# LOGICAL OPERATORS

and lazmi
or optional
not

In [81]:
5==5

True

In [84]:
True and True & True

True

In [85]:
1 and 1 & 1

1

In [86]:
True and True & True and False

False

In [87]:
True or True or False

True

In [89]:
True or True or False or True or True or False

True

In [92]:
not(True)

False

In [93]:
name=("zain","ali","hamza")
password=("123")
result= "zain" or "ali" or "hamza"
print(result)

zain

In [ ]:
user=input("username")
password=input("password")
user=="A" or user=="B" or user=="C" and password =='123'